Rambafile
Templates
swifty_viper_pixelplex
xcuserdata
Pods
Podfile.lock
Gemfile.lock
report.xml
.DS_Store

build
CryptoWalletTemplate.ipa
CryptoWalletTemplate.app.dSYM.zip

GoogleService-Info.plist

vendor
.env
.bundle
